* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    user-select: none;
    -webkit-user-select: none;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: 'transparent';
}

body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    /*
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    */
}

#root {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, var(--content-text) 20%, transparent);
    border-radius: 10px;
}

:root {
  --content-text: #000000;
  --content-link: #000000;
  --content-background: #ffffff;

  --ui-text: #ffffff;
  --ui-background: #0476d9;

  --backdrop-text: #ffffff;
  --backdrop-background: #023059;

  --divider: #e6e2df;

  --space: 4px;
  --round: 4px;
}

